<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <%- include('./partials/header.ejs'); %>
  
        <div class="container-fluid  bg-dark  py-3">
            <div class="row">
                <div class="col-12 text-center text-light">
                    <h5>
                        <%- news.Title %>
                    </h5>
                </div>
            </div>
        </div>
  <!-- changed -->
<div class="container-fluid  bg-light py-5">
        <div class="container  ">
            <div class="row">
                <div class="col-md-8 px-3 ">
                    <div class="card shadow">
                        <div class="alert text-center border " role="alert">
                           
                            <h4> <%- news.CompanyDetails.CompanyName %></h4>

                            <p> <%- news.CompanyDetails.AdvtNo %></p>

                            <h5> <%- news.CompanyDetails.VacancyName %></h5>


                        </div>
                        <div class="alert " role="alert">
                     <b>    Name of the Post :</b>   <span class="text-dark px-3">
                        <%- news.BriefInformation %>
                    </span>
                        </div>
                        <div class="alert " role="alert">
                           <b> Post Date :</b> <span class="text-dark  px-3"> 30-01-2019</span>
                        </div>
                        <div class="alert " role="alert">
                         <b>   Latest Update :</b><span class="text-dark px-3">23-08-2021</span>
                        </div>
                        <div class="alert " role="alert">
                          <b>  Total Vacancy :</b><span class="text-dark px-3"> 67</span>
                        </div>
                        <div class="alert " role="alert">
                            <h4 class="alert-heading">Brief Information :</h4>
                            <p> <%- news.BriefInformation %></p>


                        </div>
                        <li class="list-group-item">
                            <div class="alert text-center" role="alert">
                                <h4 class="text-center">Qualification</h4>

                                <%- news.Qualification %>


                            </div>
                        </li>
                    </div>
                </div>
                <div class="col-md-4 ">
                    
                   
                        <div class="card mt-3 mb-4">
                            <div class="card-header text-center bg-dark text-light ">
                               <b> Application Fee</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">For General/ Unreserved: Rs. 1000/-</li>
                                <li class="list-group-item">For Other Backward Classes (OBC) – (NCL)/ Economically
                                    Weaker Section (EWS): Rs. 500/-</li>
                                <li class="list-group-item">For SC/ ST/ PwD/ Transgender: Rs. 250/-</li>
                            </ul>
                        </div>
                   
                    
                        <div class="card my-4">
                            <div class="card-header text-center bg-dark text-light">
                              <b>  Important Dates</b>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Starting Date to Apply Online: 15-02-2019</li>
                                <li class="list-group-item">Closing Date to Apply Online: 14-03-2019 till 11:59 PM
                                </li>
                                <li class="list-group-item">Last Date for fee payment at any SBI Branch: 19-03-2019
                                </li>
                                <li class="list-group-item">Date of Written Exam: 14-04-2019 (Changed to July-2019)
                                </li>
                                <li class="list-group-item">New Dates for Written Exam: 20 to 31-12-2019</li>
                                <li class="list-group-item">Date of Physical Test: 19 to 28-07-2021</li>
                            </ul>
                        </div>
                  
                    
                        <div class="card my-4">
                            <div class="card-header text-center bg-dark text-light  ">
                               <b> Age Limit (as on 01-01-2019) </b>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Minimum Age: 21 Years</li>
                                <li class="list-group-item">Maximum Age: 32 Years</li>
                                <li class="list-group-item">Age relaxation is applicable for SC/ ST/ SEBC/ PH
                                    candidates as per rules</li>

                            </ul>
                        </div>
                                    
                </div>
            </div>
        </div>
        </div>
    </div>
        <%- include('./partials/footer.ejs'); %>
</body>

</html>