<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
    <title>Teaching Jobs</title>
</head>

<body>
    <%- include('./partials/header.ejs'); %>
    
    <div
      style="margin-bottom: 0px"
      class="alert bg-dark text-light text-center"
      role="alert"
    >
      <h4>Latest Teaching and Faculty Job Notifications</h4>
    </div>

    <div class="container-fluid bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 py-3">
            <div class="h3 text-center">UPSC</div>

            <ol class="list-group">


                <% for(var i =0 ; i < TeacherJobs.length; i++){ %>

              <li
                class="
                  shadow
                  my-3
                  list-group-item
                  d-flex
                  justify-content-between
                  align-items-center
                  py-3
                "
              >
                <div class="ms-3 col-md-5 fw-bold">
                  <%- TeacherJobs[i].Title %>
                </div>
                <div class="col-md-3">
                  <small class="text-muted d-none d-sm-block"><%- TeacherJobs[i].Postdate %></small>
                </div>
                <div class="col-md-2 d-none d-sm-block">
                  <span class="badge bg-dark rounded-pill"><%- TeacherJobs[i].TotalVacancy %></span>
                </div>
                <div class="col-md-2">
                  <a href="job-details/<%= TeacherJobs[i]. _id %>" class="btn btn-warning fw-bold"> view Details </a>
                </div>
              </li>
              <% } %>




            </ol>
          </div>
        </div>
      </div>
    </div>
    <%- include('./partials/footer.ejs'); %>
</body>